body {
	background-color: #deeff5;
} 

h1 {
  font-weight: bold;
  font-size: 24px;
}

.about-me {
	width: 80%;
	max-width: 650px;
	text-align: center;
	display: inline-block;    
}

.icon-links {
    display: inline-block;
	text-align: center;
    margin: auto;
    color: black;
    border: 3px;
    padding: 10px;
}

.linkedin {
	color: #007bb6;
	border: 3px;
  padding: 10px;
}

.email {
	color: black;
	border: 3px;
  padding: 10px;
  text-align: center;	
}

.medium {
  color: #0000A0;
  border: 3px;
  padding: 10px;
  text-align: center; 
}

.text {
	text-align: center;
}

.images-help {
  width: 80%; /* this seems good */
  max-width: 500px;
  height: auto;    
  display: inline-block;    
  border-radius: 20%;
  text-align: center;	
}​

.bckgrnd {
	width: 100%;	
	height: 100%;
}

/*navbar troll*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    /*background-color: #333;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}